.carousel {
    height: 70vh;
    margin: auto;
}

.img-car {
    height: 500px;
}

.aboutus {
    background-color: #0077b6;
    width: 98%;
    height: auto;
    padding-left: 10px;
    color: white;
    margin: 0px 11px 0px 11px;
    padding: 30px 40px 40px 40px;
}

.aboutus>h3 {
    padding-top: 10px;
}

.aboutus>h5 {
    padding-left: 20px;
    color: #00b4d8;
}

.car {
    width: 50%;
    margin: auto;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
}

.logo>img {
    border-radius: 40%;
}